# Ordinal encoding

Ordinal encoding is a technique used to convert categorical data with a natural order into a numerical representation. You assign integer values to each category based on their natural order.

In [4]:
#import paskages
import pandas as pd

In [5]:
#  create Sample data 
data = {'Category': ['Low', 'Medium', 'High', 'Low', 'High', 'Medium']}
df = pd.DataFrame(data)
df

  Category
0      Low
1   Medium
2     High
3      Low
4     High
5   Medium

In [7]:
# mapping of categories to numerical values
category_map = {"Low":1  ,"Medium":2 , "High":3}

In [8]:
# Apply ordinal encoding
df['Encoded_Cat'] = df['Category'].map(category_map)

In [13]:
df

  Category  Encoded_Cat
0      Low            1
1   Medium            2
2     High            3
3      Low            1
4     High            3
5   Medium            2