# data transformation pipeline

In [8]:
#import paskages 
import pandas as pd

from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler , OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.feature_selection import SelectKBest

In [20]:
#create data frame
data = pd.DataFrame({
    'Age': [25, 30, 35, None, 28],
    'Gender': ['Male', 'Female', 'Male', 'Male', 'Female'],
    'Income': [45000, 60000, 75000, 50000, 65000],
    'Education': ['High School', 'Bachelor', 'Master', 'PhD', 'Bachelor']
})
data.head()

    Age  Gender  Income    Education
0  25.0    Male   45000  High School
1  30.0  Female   60000     Bachelor
2  35.0    Male   75000       Master
3   NaN    Male   50000          PhD
4  28.0  Female   65000     Bachelor

In [21]:
# Separate data
y = data['Income']
X = data.drop('Income', axis=1)

In [22]:
# Define column transformers for numerical and categorical data
numeric_features = ['Age']
categorical_features = ['Gender', 'Education']

In [23]:
numeric_transformer = Pipeline( steps=[
    ('imputer',SimpleImputer(strategy='mean')),
    ('scaler' , StandardScaler())
])

In [24]:
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder())
])

In [28]:
# Combine transformers using ColumnTransformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer , numeric_features),
        ('cat', categorical_transformer , categorical_features)
    ])

In [30]:
pipline =Pipeline(steps=[
    ('preprocessor' ,preprocessor) , 
    ("feature_selection" , SelectKBest(k=2))
])

In [31]:
# Fit and transform the data through the pipeline
X_transformed = pipline.fit_transform(X,y )

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:109: RuntimeWarning: invalid value encountered in divide
  msw = sswn / float(dfwn)

In [32]:
print(X_transformed)

[[0. 0.]
 [0. 0.]
 [1. 0.]
 [0. 1.]
 [0. 0.]]